<template>
  <div>
    <v-data-table
      v-model="selected"
      :footer-props="footerProps"
      :headers="headers"
      :hide-default-footer="hidePagination"
      :items="items"
      :loading="loading"
      :options.sync="pagination"
      :server-items-length="total"
      :show-select="checkable"
      :sort-by="sortBy"
      :sort-desc="true"
      class="elevation-4"
    >
      <template #top>
        <v-toolbar
          extended
          flat
        >
          <v-toolbar-title>
            {{ title }}
          </v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <div style="display: flex; gap: 10px;">
            <slot name="global-buttons"></slot>
            <v-btn
              v-if="createlink.length > 0"
              :to="createlink"
              class="mb-2"
              color="primary"
              dark
            >
              {{ createButtonName }}
            </v-btn>
          </div>
          <template #extension>
            <v-text-field v-if="searchable" append-icon="mdi-magnify" label="Поиск" @input="debounceSearch"/>
            <slot name="alternateSearch"/>
          </template>
        </v-toolbar>
      </template>
      <template #[`item.actions`]="{ item }">
        <slot :item="item" name="item-buttons"></slot>
        <v-tooltip v-if="changeable" bottom>
          <template #activator="{ on }">
            <v-btn
              fab
              small
              @click="$emit('change', item)"
              v-on="on"
            >
              <v-icon
                small
              >
                mdi-pencil
              </v-icon>
            </v-btn>
          </template>
          <span>Редактировать</span>
        </v-tooltip>

        <v-btn
          v-if="deleteable"
          fab
          small
          @click="$emit('delete', item)"
        >
          <v-icon
            small
          >
            mdi-delete
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import {search} from "@/mixins/search";

export default {
  name:   "GenericTable",
  mixins: [search],
  props:  {
    hidePagination: {
      type: Boolean,
    },

    changeable: {
      type: Boolean,
    },

    searchable: {
      type: Boolean,
    },

    deleteable: {
      type: Boolean,
    },

    checkable: {
      type: Boolean,
    },

    createButtonName: {
      type:    String,
      default: 'Создать'
    },

    loading: {
      type:     Boolean,
      required: true
    },

    title: {
      type:     String,
      required: true
    },

    headers: {
      type:     Array,
      required: true
    },

    total: {
      type:     Number,
      required: true
    },

    items: {
      type:     Array,
      required: true
    },

    createlink: {
      type:     String,
      required: true
    },

    sortBy: {
      type:     String,
      default:  'id'
    },

    sortDirection: {
      type:     String,
      default:  'desc'
    },

    footerProps: {
      type:    Object,
      default: () => {
        return {
          'items-per-page-options': [10, 15, 20],
          'items-per-page-text': 'Строк на страницу:'
        }
      }
    }
  },

  data() {
    return {
      selected:   [],
      desserts:   [],
      pagination: {},
    }
  },

  computed: {
    params() {
      return {
        ...this.pagination,
        query: this.search
      };
    }
  },

  watch: {
    params: {
      handler() {
        this.$emit('get-data', this.params)
      },

      deep: true
    },

    selected: {
      handler() {
        this.$emit('selected', this.selected)
      },

      deep: true
    }
  },
}
</script>

