<template>
  <v-app>
    <v-navigation-drawer
      v-if="$auth.user"
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <template #prepend>
        <v-list-item two-line>
          <v-list-item-avatar>
            <img src="https://randomuser.me/api/portraits/women/81.jpg">
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ $auth.user.name }}</v-list-item-title>
            <v-list-item-subtitle>Logged In</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>

      <v-divider />
      <v-list>
        <v-list-item
          v-for="(item, i) in filteredByRole"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon v-if="$auth.user" @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <div style="display: flex; gap: 10px">
        <v-tooltip v-if="!$vuetify.theme.dark" bottom>
          <template #activator="{ on }">
            <v-btn color="info" small fab v-on="on" @click="switchTheme">
              <v-icon class="mr-1">mdi-moon-waxing-crescent</v-icon>
            </v-btn>
          </template>
          <span>Dark Mode On</span>
        </v-tooltip>
        <v-tooltip v-else bottom>
          <template #activator="{ on }">
            <v-btn color="info" small fab v-on="on" @click="switchTheme">
              <v-icon color="yellow">mdi-white-balance-sunny</v-icon>
            </v-btn>
          </template>
          <span>Dark Mode Off</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-btn color="info" small fab v-on="on" @click="logout">
              <v-icon color="yellow">mdi-logout</v-icon>
            </v-btn>
          </template>
          <span>Выйти</span>
        </v-tooltip>
      </div>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
    <Snackbar />
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar.vue'

export default {
  name: 'DefaultLayout',
  data() {
    return {
      components: { Snackbar },
      clipped: false,
      drawer: true,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: '',
    }
  },

  computed: {
    items() {
      return this.$store.state.navbar.items
    },
    filteredByRole() {
      return this.items.filter((item) => {
        return item.roles.includes(this.$auth.user.role)
      })
    },
  },

  mounted() {
    this.$vuetify.theme.dark = this.$store.state.darkMode
    const images = this.$store.state.pixels.images
    // eslint-disable-next-line no-console
    console.log(images[Math.floor(Math.random() * images.length)])
  },

  methods: {
    switchTheme() {
      this.$store.commit('SWITCH_DARK')
      this.$vuetify.theme.dark = this.$store.state.darkMode
    },

    logout() {
      this.$auth.logout()
      window.location.reload()
    },
  }
}
</script>
